[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
ExecStart={{ bin_dir }}/kube-apiserver \
  --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota,NodeRestriction \
  --bind-address={{ node_ip }} \
  --insecure-bind-address=127.0.0.1 \
  --authorization-mode=Node,RBAC \
  --kubelet-https=true \
  --anonymous-auth=false \
  --basic-auth-file={{ cert_kubernetes_dir }}/basic-auth.csv \
  --enable-bootstrap-token-auth \
  --token-auth-file={{cert_kubernetes_dir}}/token.csv \
  --service-cluster-ip-range={{ service_cluster_ip_range }} \
  --service-node-port-range={{ service_node_port_range }} \
  --tls-cert-file={{ cert_kubernetes_dir }}/kubernetes.pem \
  --tls-private-key-file={{ cert_kubernetes_dir }}/kubernetes-key.pem \
  --client-ca-file={{ cert_ca_dir }}/ca.pem \
  --service-account-key-file={{ cert_ca_dir }}/ca-key.pem \
  --etcd-cafile={{ cert_ca_dir }}/ca.pem \
  --etcd-certfile={{ cert_kubernetes_dir }}/kubernetes.pem \
  --etcd-keyfile={{ cert_kubernetes_dir }}/kubernetes-key.pem \
  --etcd-servers={{ etcd_endpoints }} \
  --enable-swagger-ui=true \
  --allow-privileged=true \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/lib/audit.log \
  --event-ttl=1h \
  --v=2
Restart=on-failure
RestartSec=5
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target