[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart={{bin_dir}}//kube-controller-manager \
  --address=127.0.0.1 \
  --master=http://{{node_ip}}:8080 \
  --allocate-node-cidrs=true \
  --service-cluster-ip-range={{service_cluster_ip_range}} \
  --cluster-cidr={{cluster_cidr}} \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file={{cert_ca_dir}}/ca.pem \
  --cluster-signing-key-file={{cert_ca_dir}}/ca-key.pem \
  --service-account-private-key-file={{cert_ca_dir}}/ca-key.pem \
  --root-ca-file={{cert_ca_dir}}/ca.pem \
  --horizontal-pod-autoscaler-use-rest-clients=false \
  --leader-elect=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target