[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
WorkingDirectory={{data_base_dir}}/kube-proxy
ExecStart={{bin_dir}}/kube-proxy \
  --bind-address={{node_ip}} \
  --hostname-override={{node_ip}} \
  --cluster-cidr={{cluster_cidr}} \
  --kubeconfig={{kubernetes_conf_dir}}/kube-proxy.kubeconfig \
  --logtostderr=true \
  --v=2
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
