[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/coreos

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
ExecStart={{ bin_dir }}/etcd \
--name=etcd_{{ node_name }} \
--cert-file={{cert_etcd_dir}}/etcd.pem \
--key-file={{cert_etcd_dir}}/etcd-key.pem \
--peer-cert-file={{cert_etcd_dir}}/etcd.pem \
--peer-key-file={{cert_etcd_dir}}/etcd-key.pem \
--trusted-ca-file={{cert_kubernetes_dir}}/ca.pem \
--peer-trusted-ca-file={{cert_kubernetes_dir}}/ca.pem \
--initial-advertise-peer-urls=https://{{ node_ip }}:2380 \
--listen-peer-urls=https://{{ node_ip }}:2380 \
--listen-client-urls=https://{{ node_ip }}:2379,http://127.0.0.1:2379 \
--advertise-client-urls=https://{{ node_ip }}:2379 \
--initial-cluster-token=etcd-cluster-1 \
--initial-cluster={{ etcd_nodes }} \
--initial-cluster-state=new \
--data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target