global

    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    user        haproxy
    group       haproxy
    daemon
    nbproc      1

    stats socket /var/lib/haproxy/stats

defaults
    log     global
    timeout connect         10s
    timeout client          1m
    timeout server          1m

listen kube-master
    bind 0.0.0.0:{{master_vport}}
    mode tcp
    option tcplog
    balance source
    {%for n in groups['master'] %}server s{{loop.index}} {{hostvars[n]['node_ip']}}:6443 check inter 10000 fall 2 rise 2 weight 1{% if not loop.last %}{{"\n    "}}{% endif %}{% endfor %}
